body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: inline-grid;
  grid-gap: 10px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="text"],
form input[type="password"],
form input[type="submit"] {
  padding: 5px;
  font-size: 16px;
}

form input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}
